.settings {
  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + & {
      margin-top: 20px;
    }

    &--vertical {
      flex-direction: column;
      align-items: flex-start;
      & > * + * {
        margin-top: 10px;
      }
    }
  }

  &__label {
    font-size: 14px;
    max-width: 176px;
    color: #5c6979;
  }

  &__description {
    // width: 100%;
    font-size: 12px;
    line-height: 1.4;
    color: #acacac;
  }

  &__info-for-unlogged {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
}
