@import "../../../assets/scss/colors.scss";
.tweet {
  width: 245px;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0 10px 45px 0 rgba(0, 0, 0, 0.1);
}

.twitter-carousel {
  &__dots {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
  }

  &__dot {
    width: 8px;
    height: 4px;
    border-radius: 2px;
    background-color: #d8d8d8;
    border: 0;
    margin-right: 5px;

    &:disabled {
      width: 20px;
      height: 4px;
      border-radius: 2px;
      background-image: $gradient;
      border: 0;
    }
  }
}
