.blog{

  &-rounded {
    border-radius: .5rem !important;
  }

  &__post-preview-title {
    cursor:pointer;
  }

  &__post-image {

    &__center {
      display: flex;
      justify-content: center;
    }

    &__left {
      float: left;
      margin-right: 1.5rem;
    }

    &__right {
      float: right;
      margin-left: 1.5rem;
    }
  }

  &__post-wrapper {
    margin-top: $navbar-height;
  }

  &__post-article {

    &>h3 {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
    }

    &>p {
      margin-bottom: 2rem;
    }
  }

  &__quote {
    font-size: 36px;
  }
}