.small-cover {
  width: 100%;
  height: 290px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $navbar-height;

  &__title {
    color: white;
  }
}