.cover {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  &>* {
    color: white;
  }

  &--small {
    height: 290px;
    padding-top: $navbar-height;
  }

  &--full {
    height: 100vh;
  }
}