.mobile-app {
  &__form-logo {
    width: 70px;
    height: 70px;
    margin-bottom: 45px;
  }

  &__header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-info {
    text-align: right;
    font-size: 11px;
  }
}