.ukraine {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  max-width: 1170px;
  margin: 128px auto 0 auto;

  &__flag {
    width: 70px;
    height: 49px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    &--top {
      width: 100%;
      height: 100%;
      background: #005bbb;
    }
    &--bottom {
      width: 100%;
      height: 100%;
      background: #ffd500;
    }
  }

  &__banner {
    height: 510px;
    width: 100%;
    background-color: #3a4c5a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    background-position: center;
  }

  &__banner-content {
    padding: 20px 20px 40px;
    z-index: 2;
    p {
      font-weight: 700;
      font-size: 16px;
      margin: 0;
    }
    a {
      color: white;
    }
    h2 {
      font-weight: 400;
      font-size: 38px;
      margin-bottom: 20px;
      color: white;
      @include breakpoint("md") {
        font-size: 48px;
      }
    }
    @include breakpoint("md") {
      padding: 20px 20px 64px 100px;
    }
  }

  &__overlap-content {
    margin-top: 20px;
    @include breakpoint("md") {
      margin-top: -84px;
      align-items: flex-start;
      padding: 0;
    }
  }

  &__centered-content {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    @include breakpoint("md") {
      flex-direction: row;
    }
  }

  &__left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 570px;
    width: 100%;
    margin: 0;
    @include breakpoint("md") {
      margin: 0 30px;
    }
    &--offset {
      padding-top: 40px;
      @include breakpoint("md") {
        padding-top: 124px;
      }
    }
  }

  &__right-panel {
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__article-image-container {
    display: flex;
    flex-direction: column;
    @include breakpoint("md") {
      flex-direction: row;
    }
  }

  &__article-image {
    width: 100%;
    height: 100%;
    padding: 40px 0;
    &--inline {
      padding: 0 0 40px;

      &:first-of-type {
        margin-right: 30px;
      }
    }
    @include breakpoint("md") {
      &--inline {
        max-width: 270px;
        padding-bottom: 40px;
        &:first-of-type {
          margin-right: 30px;
        }
      }
    }
  }

  &__info {
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    max-width: 500px;
    width: 100%;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint("md") {
      margin-top: 160px;
      margin-bottom: 160px;
    }
  }

  &__donate {
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    max-width: 370px;
    width: 100%;

    &--container {
      padding: 40px;
    }

    &--text {
      font-size: 18px;
      font-weight: 400;
      line-height: 42px;
    }

    &--current {
      font-size: 36px;
      font-weight: 700;
    }

    &--supporters {
      font-size: 12px;
      margin-top: 14px;
      img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }

    button:first-of-type {
      margin: 34px 0 20px 0;
    }
  }

  &__donate-list {
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-top: 20px;

    &--container {
      padding: 24px 0;
    }

    &--title {
      font-size: 18px;
      font-weight: 700;
      padding: 0 40px;
    }

    &--item {
      border-top: 1px solid #f3f3f3;
      padding: 12px 40px;

      &:last-of-type {
        border-bottom: 1px solid #f3f3f3;
      }
      img {
        width: 25px;
        height: 25px;
        margin-right: 16px;
      }
      &--name {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        line-height: 18px;
      }
      display: flex;
      font-size: 18px;
      align-items: center;
    }
  }

  &__share-button {
    display: flex;
    flex-direction: row;
    img {
      width: 16px;
      margin-right: 11px;
    }
  }

  &__products {
    margin-top: 16px;
  }

  &__product {
    border: 1px solid #f3f3f3;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;

    &-logo {
      width: 33%;
    }

    &-name {
      font-size: 16px;
      font-weight: 700;
      margin-top: 8px;
      text-align: center;
    }

    &-perk {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      text-align: left;
    }

    &-description {
      font-size: 12px;
      font-weight: 400;
      margin-top: 8px;
      color: rgba(0, 0, 0, 0.6);
      text-align: left;
    }
  }
}
